* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Oswald", sans-serif;
  background-color: #000000;
  /* Pattern from https://www.heropatterns.com/ */
  background-image: linear-gradient(to top, #640064, #520343, #3b0829, #230916, #000000);
  /* background-image: radial-gradient(circle, #f2a4f6, #b875aa, #7c4c68, #3f2832, #000000); */
  color: #1e272e;
  color: #ffffff;
  font-size: 16px;
}

a {
  color: #ffffff;
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  width: 90%;
  margin: auto;
}

hr {
  margin: 10px 0;
}

.menu-btn {
  cursor: pointer;
  position: absolute;
  top: 15px;
  right: 30px;
  z-index: 2;
  display: none;
}

.btn {
  cursor: pointer;
  display: inline-block;
  border: 0;
  font-weight: bold;
  padding: 10px 20px;
  background: #262626;
  color: #ffffff;
  font-size: 15px;
  border: 1px solid #ffffff;
}
.btn:hover {
  opacity: 0.9;
}

.showcase {
  width: 100%;
  height: 550px;
  background: url("img/logo.jpeg") no-repeat center;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: flex-end;
  padding-bottom: 50px;
  margin-bottom: 20px;
  color: #fff;
}
.showcase h2, .showcase p {
  margin-top: 10px;
}
.showcase .btn {
  margin-top: 20px;
}

.news-cards img, .news-cards2 img {
  width: 100%;
  height: 180px;
}
.news-cards h3, .news-cards2 h3 {
  font-size: 20px;
  margin: 10px 0;
}
.news-cards a, .news-cards2 a {
  padding: 10px 0;
  color: #ffffff;
  text-transform: uppercase;
  display: inline-block;
  font-weight: bold;
}

.news-cards2 a {
  color: skyblue;
}

.form-registro {
  width: 400px;
  background-image: url(img/logo.jpeg);
  padding: 30px;
  margin: auto;
  margin-top: 100px;
  border-radius: 4px;
  font-family: "calibri";
  color: white;
  box-shadow: 7px 13px 37px #000;
}
.form-registro h4 {
  text-align: center;
  font-size: 22px;
  margin-bottom: 20px;
}
.form-registro p {
  height: 40px;
  text-align: center;
  font-size: 18px;
  line-height: 40px;
}
.form-registro a {
  color: white;
  text-decoration: none;
}
.form-registro a:hover {
  color: white;
  text-decoration: underline;
}
.form-registro .botones {
  width: 100%;
  background: #7a1775;
  border: none;
  padding: 12px;
  color: white;
  margin: 16px 0;
  font-size: 16px;
}
.form-registro .botones:hover {
  background: #a11b9b;
  transition: background-color 1s ease-out;
  outline: 0;
}

.controles {
  width: 100%;
  background: #24303c;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid #831d75;
  font-family: "calibri";
  font-size: 18px;
  color: white;
}

.contenedor {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding: 1.5em;
}

ul {
  list-style: none;
  padding: 0;
}

.logo {
  text-align: center;
  font-size: 50px;
}

.contact-contenido {
  box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.3);
}
.contact-contenido > * {
  padding: 1em;
}

.contact-formu {
  background-color: #362838;
}
.contact-formu form {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.contact-formu form label {
  display: block;
}
.contact-formu form p {
  margin: 0;
  padding: 16px;
}
.contact-formu form .block {
  grid-column: 1/3;
}
.contact-formu form button, .contact-formu form input, .contact-formu form textarea {
  width: 100%;
  padding: 0.7em;
  border: none;
  background: none;
  outline: 0;
  color: #fff;
  border-bottom: 1px solid rgba(157, 61, 118, 0.8588235294);
}
.contact-formu form button {
  background: #520343;
  border: 0;
  text-transform: uppercase;
  padding: 1em;
}
.contact-formu form button:hover, .contact-formu form button:focus {
  background: #741e5a;
  color: #fff;
  transition: background-color 1s ease-out;
  outline: 0;
}

.contact-info {
  background: #000000;
}
.contact-info h4, .contact-info ul, .contact-info p {
  text-align: center;
  margin: 0 0 1rem 0;
}

.social {
  margin: 50px;
}
.social p {
  text-align: center;
  font-size: 30px;
  margin-bottom: 20px;
}

.links {
  display: flex;
  align-items: center;
  justify-content: center;
}
.links a {
  margin: 0 30px;
}
.links a i {
  font-size: 3rem;
}

.footer {
  background: #2f3640;
  color: #616161;
  font-size: 12px;
  padding: 20px 0;
  text-align: center;
  font-size: 1rem;
  padding-bottom: 20px;
}

@media (min-width: 700px) {
  .menu-btn {
    display: block;
  }
  .menu-btn:hover {
    opacity: 0.5;
  }
  .contact-contenido {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }
}/*# sourceMappingURL=styles.css.map */